*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    margin: 5rem auto;
    padding: 3rem;
    border-radius: 5px 5px 0 0;
    background-color: #DA2365;
    flex-direction: column;
    text-align: center;
    width: 30rem;
    height: 30rem;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
@media (max-width: 600px){
    main{
        box-shadow: none;
    }
    body{
        background-color: #DA2365;
    }
}
.container{
    margin: 3rem;
}
h1{
    color: #f2cd1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: #F0F2F2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
}
button {
    margin: 2rem;
    padding: 1rem;
    border:#f2cd1a 1px solid;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #f2cd1a;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s ease-in-out;
}
button:hover{
    color: #F0F2F2;
    transform: translateY(10px);
}
footer{
    background-color: #000;
    position: fixed;
    bottom: 0;
    height: 4rem;
    padding: 1rem;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;

}
a{
    color: #F0F2F2;
}